* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 2.5rem;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navLinks {
    display: flex;
    justify-content: space-around;
    width: 25%;
    margin-left: 20rem;
}

.startProject button {
    padding: 0.2rem 1rem;
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 0.95rem;
    border-radius: 1rem;
    font-weight: bold;
}

.startProject button:hover {
    background-color: rgb(250, 217, 0);
    color: white;
    transition: 0.2s;
}

.startProject {
    display: flex;
    justify-content: space-around;
    width: 10%;
    margin-right: 20rem;
}

li {
    list-style: none;
}

li a {
    color: rgb(168, 168, 168);
    text-decoration: none;
    font-weight: medium;
    font-size: 0.95rem;
}

/* hero section */

.hero {
    background-color: black;
    padding-bottom: 5rem;
}

.heroTitle {
    color: white;
    text-align: center;
    padding-top: 6rem;
    font-size: 3.5rem;
}

.heroTitle1 {
    color: white;
    text-align: center;
    font-size: 3.5rem;
    padding-top: 1rem;
}

.hero p {
    color: white;
    text-align: center;
    padding-top: 2rem;
    font-size: 1.2rem;
    width: 50%;
    margin: auto;
    color: rgb(234, 234, 234);
    line-height: 2rem;
}

.naarProject {
    display: flex;
    margin: auto;
    margin-top: 2rem;
    padding: 0.8rem 1.5rem;
    background-color: rgb(250, 217, 0);
    border-radius: 30px;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 1.2rem;
}

.heroVideo {
    display: flex;
    margin: auto;
    margin-top: 3rem;
    border-radius: 1rem;
    width: 55rem;
}

/* portfolio section */

.sectionPortfolio {
    padding-top: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    max-width: 879.99px;
    text-align: center;
    color: #1D1D1F;
    font-size: 48px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.96px;
    margin-bottom: 40px;
}

.image-container {
    position: relative;
    /* display: inline-block; */
}

.afbeeldingPortfolio {
    border: 7px solid #000;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, .4);
    /* display: block;
    width: 100%;
    height: auto; */
}

.portfolioButton {
    /* display: inline-block; */
    background-color: #FFF;
    padding: 14px 20px;
    border-radius: 24px;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: .32px;
    transition: all .3s ease-in-out;
    color: #1D1D1F;
    font-weight: 600;
    /* min-width: max-content; */
    text-decoration: none;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.playButton {
    margin-left: 1px;
    position: relative;
    top: 2px;
}

.paragraphPortfolio {
    margin: 25px 0 20px 0;
    text-align: center;
    color: #1D1D1F;
    font-size: 21px;
    font-weight: 400;
    line-height: 29px;
    max-width: 637.993px;
}

/* pakketten section */

.sectionPakketten {
    display: flex;
    gap: 34px;
    padding: 70px 14px 100px 14px;
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
}

.pakketContainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 50px
}

.pakketContent {
    margin-bottom: 20px;
}

h3 {
    font-weight: 700;
    font-size: 21px;
    color: #1d1d1f;
    margin: 0 0 20px;
    line-height: 1.4;
}

h4 {
    font-size: 28px;
    line-height: 34px;
    color: #1d1d1f;
    margin: 0 0 18px;
    font-weight: bold;
}

.pakketButton {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.32px;
    color: #1D1D1F;
    background-color: #F9C938;
    border-radius: 24px;
    padding: 14px 24px 13px 24px;
    text-decoration: none;
}

/* video carrousel */

.videoCarrousel {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .carrousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 2rem;
  }
  
  .carrousel-track {
    display: flex;
    transition: transform 0.5s ease;
  }
  
  .slide {
    flex: 0 0 800px;
    padding: 0 1rem;
    box-sizing: border-box;
  }
  
  .slide img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 1rem;
  }
  
  .arrow {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    padding: 1rem;
    cursor: pointer;
    z-index: 1;
    font-size: 3rem;
    border-radius: 50%;
    color: white;
  }
  
  .arrow.left {
    left: 10px;
  }
  
  .arrow.right {
    right: 10px;
  }

  .imageCarrousel {
    display: flex;
    overflow: hidden;
    padding-bottom: 2rem;
  }
  
  .imageCarrouselItem {
    flex: 0 0 350px;
    padding: 0 1rem;
    box-sizing: border-box;
  }
  
  .imageCarrouselItem img {
    width: 350px;
    height: 225px;
    object-fit: cover;
    border-radius: 1rem;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .imageCarrousel {
    display: flex;
    width: max-content;
    animation: scroll 25s linear infinite;
  }

  .imageCarrousel1 {
    display: flex;
    overflow: hidden;
    padding-bottom: 2rem;
  }
  
  .imageCarrouselItem1 {
    flex: 0 0 350px;
    padding: 0 1rem;
    box-sizing: border-box;
  }
  
  .imageCarrouselItem1 img {
    width: 350px;
    height: 225px;
    object-fit: cover;
    border-radius: 1rem;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .imageCarrousel1 {
    display: flex;
    width: max-content;
    animation: scroll 15s linear infinite;
  }
