* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

/* nav */

nav {
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  backdrop-filter: blur(10px);
}

/* Hamburger icon */
.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background-color: white;
  border-radius: 2px;
}

.navbar {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 3rem;
  width: 980px;
}

.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.startProject button {
  padding: 0.3rem 0.8rem;
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 0.95rem;
  border-radius: 1rem;
  font-weight: bold;
}

.startProject button:hover {
  background-color: #a8a8a8;
  transition: 0.3s;
}

li {
  list-style: none;
}

li a {
  color: #a8a8a8;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.95rem;
  padding: 14px 0;
}

.startProjectBtn {
  padding: 0.3rem 0.8rem;
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 0.95rem;
  border-radius: 1rem;
  font-weight: bold;
}

.logo {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  gap: 0.5rem;
  font-weight: 600;
  font-size: 1.1rem;
}

li a:hover {
  color: #ffffff;
  transition: 0.3s;
}

/* portfolio section */

.portfolioSection {
  background-color: #F2F2F2;
}

/* .gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: row;
  gap: 16px;
}

.gridItem {
  display: flex;
  flex-direction: column;
  min-height: 388px;
  align-items: flex-start;
  gap: 16px;
  padding: 32px;
}

.griditem1 {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2)), url(media/hoge-kwaliteit.jpg);
  background-size: cover;
} */

.homepageGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gridElement {
  display: flex;
  justify-content: space-between;
}

.gridText h2 {
  text-align: left;
}

.gridTitle {
  color: #1D1D1F;
  font-size: 44px;
  font-weight: 400;
  line-height: 56px;
  letter-spacing: -0.88px;
}

.gridDescription {
  color: #1D1D1F;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
}

.gridButton {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.gridPadding {
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  gap: 56px;
  padding-top: 104px;
  padding-bottom: 128px;
  padding-left: 120px;
  padding-right: 120px;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: row;
  gap: 16px;
}

.gridItem {
  display: flex;
  flex-direction: column;
  min-width: 350px;
  min-height: 225px;
  align-items: flex-start;
  gap: 16px;
  padding: 32px;
  overflow: hidden;
  display: block;
  color: inherit;
  text-decoration: none;
}

.gridItem:hover {
  transform: scale(1.01);
  transition: transform 0.3s ease;
}

.portfolioDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.portfolioDescription div {
  color: #1D1D1F;
  padding: 0 32px;
  text-align: center;
}

.portfolioDescription h3 {
  text-align: center;
}

.gridItem2 {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.0)), url(../../media/tumbnail-2.jpg);
  background-size: cover;
  grid-row: 1 / 3;
  grid-column: 2 / 4;
}

.gridItem3 {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url(../../media/tumbnail-1.jpg);
  background-size: cover;
}

.gridItem4 {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url(../../media/tumbnail-3.jpg);
  background-size: cover;
}

.gridItem5 {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url(../../media/tumbnail-4.jpg);
  background-size: cover;
}

.gridItem6 {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url(../../media/tumbnail-5.jpg);
  background-size: cover;
}

.gridItem7 {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url(../../media/tumbnail-6.jpg);
  background-size: cover;
}

.gridItem8 {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url(../../media/tumbnail-7.jpg);
  background-size: cover;
}

.gridItem h3 {
  color: #FFFFFF;
  font-family: "proxima-nova", Sans-serif;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: 32px;
  letter-spacing: -0.52px;
}
































/* Get started section */

.getStarted {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.getStartedContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.getStartedContainer h2 {
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: normal;
}

.getStartedContainer h1 {
  font-size: 2.5rem;
  width: 35rem;
  text-align: center;
}

.getStartedContainer p {
  margin-top: 0.5rem;
  font-size: 1rem;
  width: 35rem;
  text-align: center;
  color: #5c5c5c;
  font-weight: light;
}

.getStartedContainer a {
  margin-top: 0.5rem;
  padding: 14px 24px 13px 24px;
  background-color: #F9C938;
  border-radius: 24px;
  border: none;
  color: #1D1D1F;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.getStartedContainer a:hover {
  background-color: #CAA32F;
  transition: 0.3s;
}

/* footer section */

footer {
  background-color: #F2F2F2;
  padding-top: 4rem;
  padding-bottom: 2rem;

}

.footerContainer {
  max-width: 1000px;
  margin: 0 auto;
}

.footerContainer i {
  margin-bottom: 2rem;
  font-size: 0.8rem;
}

.footerSection1 {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  font-weight: 600;
}

.footerSection1 li a {
  color: rgb(118, 118, 118);
  font-weight: 400;
}

.footerSection1 li a:hover {
  text-decoration: underline;
  color: #1D1D1F;
  transition: 0, 3s;
}

.title {
  color: rgb(0, 0, 0);
}

.footerSection1 li {
  list-style: none;
  margin-bottom: 0.5rem;
}

.footerSection2 ul {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footerSection2 li {
  color: rgb(118, 118, 118);
}

.footerSection2 li a {
  color: rgb(118, 118, 118);
}

.footerSection2 li a:hover {
  text-decoration: underline;
  color: #1D1D1F;
  transition: 0.3s;
}

.horizontalLine {
  border: none;
  height: 1px;
  background-color: rgb(118, 118, 118);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.footerSection3 ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footerSection3 li {
  color: rgb(118, 118, 118);
}

.footerSection3 li a {
  color: rgb(118, 118, 118);
  font-weight: 400;
}

.footerSection3 li a:hover {
  text-decoration: underline;
  color: #1D1D1F;
  transition: 0.3s;
}

.logoFooter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
}

.algemeneVoorwaarden {
  font-weight: 400;
}